@model IEnumerable<CMMSBT.Domain.Khuvuc>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table id="example-datatable" class="table table-striped table-bordered table-vcenter" style="font-size: 12px;">
            <thead>
                <tr style="background-color:#f1f5fb;">
                    <th style="font-size: 12px;" class="text-center">STT</th>
                    <th style="font-size: 12px;" class="text-center">Mã khu vực</th>
                    <th style="font-size: 12px;" class="text-center">Tên khu vực</th>
                    <th style="font-size: 12px;" class="text-center">Thứ tự</th>
                    <td class="text-center"><i class="fa fa-flash"></i></td>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0;}
                @foreach (var item in Model)
                {
                    i = i + 1;
                    <tr>
                        <td class="padding-td-cus text-center" width="5%">
                            @i
                            <input type="checkbox" name="name[]" class="checkBox" value="@item.Makv" />
                            <input type="hidden" name="Makv" value="@item.Makv" />
                        </td>
                        <td class="padding-td-cus text-left">
                            @item.Tenkv
                        </td>
                        <td class="padding-td-cus text-left">
                            @item.Tenkv
                        </td>                           
                        <td class="padding-td-cus text-center" style="width:7%">
                            <input type="number" class="orderby form-control" name="Orders" value="@item.Orders" />
                        </td>                       
                        <td class="padding-td-cus text-center" width="7%">
                            <a href="@Url.Action("Add","KhuVuc", new {Makv = item.Makv})" title="Sửa" class="btn btn-xs btn-success"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <div class="row">
            @Html.PagedListPager((IPagedList) Model, page => Url.Action("PagedPartial", new {page = page}),
                new X.PagedList.Web.Common.PagedListRenderOptions {
                LiElementClasses = new string[] {"page-item"},
                PageClasses = new string[] { "page-link" }
             })
        </div>
    </div>
}
else
{
    <p class="text-danger text-center">Chưa có item nào được xác nhận</p>
}
<script>
    $(function () {

        $(".orderby").change(function () {
            var Makv = $(this).closest("tr").find('td:eq(0)').find('input[name="Makv"]').val();
            var Orders = $(this).closest("tr").find('td:eq(3)').find('input[name="Orders"]').val();
            if (Makv != null) {
                UpdateSort(Makv, Orders);
            }
        });

    });

    function UpdateSort(Makv, Orders) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateSort", "KhuVuc")",
            data: { Makv: Makv, Orders: Orders },
            dataType: 'json',
            success: function (da) {
                if (da.ResultCode == true) {
                    window.location.href = '@Url.Action("List", "KhuVuc")';
                }
                else { 
                    alert(da.Message);
                }
            },
            error: function (da) {
                alert('Lỗi: Vui lòng hãy kiểm tra lại!');
            }

        });
    }
</script>